.paper {
  width: 324px;
  height: 392px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ===== TOP FLAP ===== */
.paper-top {
  position: absolute;
  width: 324px;
  height: 270.34px;
  background: #7fb0e8;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  top: 0;
  left: 0;

  transform-origin: top;
  transform: rotateX(0deg);
  transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  z-index: 3;
}

/* ===== BOTTOM FLAP ===== */
.paper-bottom {
  position: absolute;
  width: 324px;
  height: 175.72px;
  background: #7fb0e8;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  bottom: 0;
  left: 0;

  transform-origin: bottom;
  transform: rotateX(0deg);
  transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1) 0.2s;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

/* ===== MIDDLE PAPER ===== */
.paper-middle {
  position: absolute;
  width: 324px;
  height: 392px;
  background: #f0dd7b;
  top: 0;
  left: 0;
}

/* ===== OPEN STATE ===== */

.paper.open .paper-top {
  transform: rotateX(150deg);
}

.paper.open .paper-bottom {
  transform: rotateX(-150deg);
}

.paper.open .paper-middle {
  transform: rotateY(0deg);
}

/* ===== STICKER ===== */

.paper-sticker-overlay {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 20;
  pointer-events: none;
  animation: stickerFadeIn 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.applied-sticker {
  width: 250px; 
  height: 250px;
  object-fit: contain;
}

.paper-sticker-overlay.exit { /* ตอนกด Back */
  animation: stickerFadeOut 1s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

@keyframes stickerFadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -10%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -100%);
  }
}
@keyframes stickerFadeOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -100%); /* เริ่มที่ตำแหน่งปกติ (บนรอยต่อ) */
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -10%);  /* จบที่ตำแหน่งต่ำลงมา (เหมือนจังหวะ 0% ของ FadeIn) */
  }
}
